:root{
	--bc-barcodes-color-bg-rgb: 245, 245, 245;
	--bc-barcodes-color-rgb : 113, 0, 255;
	--bc-barcodes-color-rgb-darker : 81, 0, 165;

	--bc-barcodes-color-bg : rgb(var(--bc-barcodes-color-bg-rgb));
	--bc-barcodes-color : rgb(var(--bc-barcodes-color-rgb));
	--bc-barcodes-color-darker :rgb(var(--bc-barcodes-color-rgb-darker));
}

.page-wrapper{
	position:relative;
}
.barcodes-opened{
	overflow:hidden;
	min-width:initial;
}
.barcodes-loader{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.barcodes-loader .message{
	background-color: transparent;
	text-align: center;
}

.barcodes-window{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	z-index:2000;
}
.barcodes-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,0.6);
}
.barcodes-panel{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow:auto;
	width: calc(100% - 40px);
	height: calc(100vh - 40px);
	background-color: var(--bc-barcodes-color-bg);
	box-shadow:0 0 10px rgba(0,0,0,0.6);
}
.barcodes-panel .barcodes-body{
	overflow:auto;
	position:relative;
	flex:1;
}
.barcodes-panel .barcodes-header{
	display:flex;
}
.barcodes-panel .barcodes-header .barcodes-title{
	flex:1;
	text-align: center;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.barcodes-panel .barcodes-header h2{
	margin:0;
	padding:0;
}
.barcodes-header{
	padding:0 40px;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.barcodes-header .barcodes-close{
	font-size:250%;
	font-weight: bold;
	transform: rotate(45deg);
	transition: all 0.35s;
	cursor:pointer;
}
.barcodes-header .barcodes-close:hover{
	color:var(--bc-barcodes-color);
}
.action-barcodes{
	float: left;
	padding: 10px 40px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: var(--bc-barcodes-color);
	display:flex;
	justify-content: center;
	align-items: center;
	height:46px;
	transition: all 0.35s;
	cursor:pointer;
}
.action-barcodes:hover{
	background-color: var(--bc-barcodes-color-darker);
}

/*    ------------------- CHECK -------------------- */
.barcodes-check{
	display:flex;
	justify-content:center;
	font-size:120%;
	padding:40px;
}
.barcodes-check input{
	padding:10px 20px;
	min-width:300px;
	border:none;
}
.barcodes-button{
	padding: 10px 30px;
	font-weight: bold;
	color:white;
	cursor:pointer;
	background-color:var(--bc-barcodes-color);
	transition:all 0.35s;
	margin-left:40px;
}
.barcodes-button:hover{
	background-color: var(--bc-barcodes-color-darker);
	text-decoration: none;
	color:white;
}

/* --------------------- SEARCH RESULTS ---------------------- */
.search-results-head{
	text-align: center;
}
.search-results-head h2{
	font-weight: bold;
}
.search-results-body{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom:20px;
}
.barcodes-product{
	height:250px;
	margin:10px 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding:20px;
	background-color:rgba(255,255,255,0.6);
	display:flex;
	flex-direction: column;
}
.barcodes-product h3{
	margin-bottom:5px;
}
.barcodes-product-content{
	display:flex;
	overflow:auto;
}
.barcodes-product-infos{
	display:flex;
	margin-bottom:10px;
}
.barcodes-product-infos p{
	margin-bottom:0;
}
.barcodes-product-refs > span{
	margin-right:20px;
}
.barcodes-product-refs > span > span:last-of-type{
	font-weight:bold;
}
.barcodes-product-pics{
	display:flex;
	height:100%;
	width:200px;
	min-width:200px;
	position:relative;
	justify-content: flex-start;
	align-items: center;
	overflow:auto;
}
.barcodes-product-pics img{
	max-width:100%;
	max-height:100%;
}
.barcodes-product-pics img:not(:last-of-type){
	margin-right:20px;
}
.barcodes-product-brand span:last-of-type{
	font-weight: bold;
}
.barcodes-product-desc{
	margin: 0 20px;
	overflow:auto;
}
.barcodes-product-prices{
	color:var(--bc-barcodes-color);
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.barcodes-product-prices .barcodes-product-ht{
	font-weight:bold;
}
.barcodes-product-prices span:not(:first-child){
	padding:0 10px;
}
.barcodes-product-prices > span:first-child{
	color:black;
	padding-left:20px;
}
.barcodes-product-prices span:nth-child(2){
	padding-left:0;
}
.barcodes-buttons{
	text-align: center;
	align-self: center;
}
.barcodes-product .barcodes-button{
	display:inline-block;
	margin:10px auto;
	width:auto;
	text-align:center;
}

/* ------------------CHOOSED ----------------- */
.barcodes-choosed-window{
	position:absolute;
	top:0;
	left:0;
	width : 100%;
	height:100%;
	overflow:auto;
	display:flex;
	flex-direction: column;
	background-color: var(--bc-barcodes-color-bg);
	box-shadow:inset 0 10px 10px -10px rgba(0,0,0,0.5);
	padding-top:40px;
}

.barcodes-choosed-form{
	flex:1;
	overflow:auto;
	display:flex;
	flex-direction: column;
	padding: 0 40px 40px 40px;
}
.barcodes-choosed-actions{
	text-align:center;
	padding-bottom:20px;
}
.barcodes-choosed-actions > *{
	display:inline-block;
}
.barcodes-choosed-actions > *:first-child{
	margin-left:0;
}
.barcodes-choosed-form input, .barcodes-choosed-form textarea{
	width:100%;
	padding:10px 20px;
	font-size:110%;
	border:none;
}
.barcodes-choosed-form .flex{
	display:flex;
	justify-content: center;
}
.barcodes-choosed-form .flex > *{
	flex:1;
}
.barcodes-choosed-form .flex .flex .flex{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.barcodes-choosed-form .flex .barcodes-input-wrapper{
	flex:1;
	margin: 10px 0;
}
.barcodes-input-wrapper p{
	text-transform: uppercase;
}
.barcodes-choosed-form .flex .barcodes-input-wrapper:not(:last-child):not(:first-child){
	margin:10px 20px;
}
.barcodes-choosed-form > .barcodes-input-wrapper:last-child{
	flex:1;
	display:flex;
	flex-direction: column;
}
.barcodes-choosed-form > .barcodes-input-wrapper:last-child textarea{
	flex:1;
}
.barcodes-columns{
	flex:1;
	overflow:auto;
}
.barcodes-columns > *:first-child{
	margin-right:20px!important;
	flex: 1!important;
}
.barcodes-columns > *{
	display:flex!important;
	flex-direction: column!important;
}
.barcodes-columns > *:last-child{
	flex:2!important;
}
.barcodes-columns > * > *:not(:first-child){
	flex:1!important;
}
/* ----------- Categs ----------- */
.barcodes-categ-item{
	padding-left:20px;
	background-color: white;
	overflow:auto;
}
.barcodes-categ-item:not(.barcodes-protected):not(.opened) .child-list{
	display:none;
}
.barcodes-categ-item.barcodes-protected{
	padding-left:0;
}
.barcodes-categ-item.barcodes-protected > .barcodes-categs-head{
	display:none;
}
.barcodes-categ-item.barcodes-protected > .child-list > .barcodes-categ-item > .barcodes-categs-head{
	display:flex;
}
.barcodes-categs-head{
	display:flex;
	align-items: center;
	padding: 5px 20px;
}
.barcodes-categs-head .barcodes-categs-label-wrapper{
	display:flex;
	align-items: center;
}
.barcodes-categs-label-wrapper{
	flex:1;
	padding:0 20px;
}
.barcodes-categs-label-wrapper label{
	flex:1;
	font-size:110%;
	cursor:pointer;
	display:block;
}
.barcodes-categs-opener{
	font-weight:bold;
	font-size:150%;
	padding:0 20px;
	cursor:pointer;
}
.barcodes-categs-opener.opener{
	display:block;
	cursor:pointer;
}
.barcodes-categs-input-wrapper{
	display:flex;
	justify-content: center;
	align-items: center;
}
.barcodes-categs-input-wrapper input{
	height:15px;
	width:15px;
}
.barcodes-categories{
	height:100%;
	overflow:auto;
	margin-bottom:10px;
}
.barcodes-created-product{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(255,255,255,0.6);
	display:flex;
	justify-content: center;
	align-items: center;
}
.barcodes-created-wrapper{
	border-radius:5px;
	box-shadow:0 0 10px rgba(0,0,0,0.4);
	background-color: var(--bc-barcodes-color-bg);
	padding:20px 40px;
	text-align: center;
}
.barcodes-created-wrapper p{
	font-size:125%;
	padding-bottom:20px;
}
.barcodes-choosed-form .required:not(.barcodes-categories-input){
	outline:2px solid var(--bc-barcodes-color);
}
.barcodes-choosed-form .required .barcodes-categories > .barcodes-categ-item > .child-list{
	border:2px solid var(--bc-barcodes-color);
}
.hidden-input{
	display:none;
}
.loader .progress{
	position:absolute;
	width:100%;
	text-align:center;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	transform-origin: center center;
	animation-name: eclipse-inv-rotate;
	animation-iteration-count:infinite;
	animation-duration:1s;
}
@keyframes eclipse-inv-rotate{
	from{transform:rotate(360deg);}
	to{transform:rotate(0deg);}
}